form {
  display: flex;
  align-content: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 30px;
  width: 400px;
  margin: 0 auto;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  width: 12em;
  outline: none;
  padding-right: 3.5rem;
}

.search__input::placeholder {
  font-weight: 100;
  color: rgb(168, 168, 168);
}

.search__button {
  border: none;
  background-color: #1A5AD4;
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
}

.search__button:hover {
  background-color: #1548a5;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}