body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-image: url("./assets/img/backgorund.png");
}

#app {
  padding: 20px;
}

h1 {
  color: #333;
}
