body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-image: url("./assets/img/backgorund.png");
}

#app {
  padding: 20px;
}

#weather-info {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  
}

#weather-details {
  margin-top: 70px;
}